<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>Select a user to chat with</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <a th:href="@{/chat/dm(recipientId=${user.id})}" th:text="${user.id}"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <a th:href="@{/}">Back to Home</a>
</body>
</html>